.pago-proveedor-container {
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 20px; /* Espacio interno alrededor del contenido */
}

.pago-proveedor-row {
    display: flex;
    flex-direction: column; /* Coloca los elementos en columna */
    align-items: center; /* Centra los elementos horizontalmente */
}

.pago-proveedor-title {
    margin-top: 80px;
    margin-bottom: 20px; /* Espacio inferior del título */
    text-align: center; /* Centra el texto del título */
}

.pago-proveedor-table {
    width: 100%; /* Asegura que la tabla ocupe todo el ancho del contenedor */
    margin-bottom: 20px; /* Espacio inferior de la tabla */
}

.pago-proveedor-table th, .pago-proveedor-table td {
    text-align: center; /* Centra el texto en las celdas de la tabla */
}

.pago-proveedor-pagination {
    margin-bottom: 5px; /* Espacio inferior de la paginación */
}

.pago-proveedor-back-button {
    margin-top: 10px; /* Espacio superior del botón de regresar */
}
